USE [master]
GO
/****** Object:  Database [EMPDB]    Script Date: 5/7/2019 2:34:47 AM ******/
CREATE DATABASE [EMPDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EMPDB', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQL12\MSSQL\DATA\EMPDB.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'EMPDB_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQL12\MSSQL\DATA\EMPDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EMPDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EMPDB]
GO
/****** Object:  Table [dbo].[UserPicDetails]    Script Date: 5/7/2019 2:34:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserPicDetails](
	[AutoID] [int] IDENTITY(1,1) NOT NULL,
	[UserImagename] [nvarchar](500) NULL,
	[UserImagePath] [nvarchar](500) NULL,
	[UserID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[AutoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[Usp_InsertImageDT]    Script Date: 5/7/2019 2:34:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE proc [dbo].[Usp_InsertImageDT]

@UserImagename	nvarchar(500) = null,
@UserID	int =0	,
@UserImagePath	nvarchar(500)= null,
@QueryID int
as

begin
if(@QueryID = 1)
begin

truncate table UserPicDetails

insert into UserPicDetails
(
UserImagename,
UserImagePath,
UserID
)
values
(
@UserImagename,
@UserImagePath,
@UserID
)
end
if(@QueryID = 2)
begin
Select UserImagename,
UserImagePath,
UserID

from UserPicDetails U where U.UserID =1
end
end


GO
USE [master]
GO
